@import "../Mixins.scss";
@import "../Mixins.scss";

.other-projects {
  position: relative;
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
  @include abv820px {
    width: 80%;
    position: fixed;
    left: 0;
    top: 80px;
    height: 100vh;
    z-index: 2;
  }

  &__slider-wrapper {
    overflow: hidden;
    top: 15px;
    left: 0;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: absolute;
    @include abv820px {
      z-index: -1;
      height: 100vh;
      width: 360px;
      left: 30vw;
    }
    &__swap-wrapper {
      position: fixed;
      max-width: 100vw;
      @include abv820px {
        position: absolute;
        left: 0;
        top: 0;
      }
      &__join-wrapper {
        display: flex;
        flex-direction: column;
        width: 280px;
        overflow: hidden;
        &__text {
          position: absolute;
          top: -20px;
          font-size: 10px;
          width: 100%;
          text-align: center;
          @include abv820px {
            position: relative;
            font-size: 15px;
            top: 0;
          }
        }
        &__img {
          border: 5px solid #a07142;
          border-radius: 15px;
          overflow: hidden;
          line-height: 0;
          position: relative;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 10px;
        }

        &__code-source {
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: 13px;
        }
      }
    }
  }
}
