.other-projects {
  position: fixed;
  overflow: hidden;
  top: 90px;
  left: 0;
  min-height: 800px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  &__swap-wrapper {
    position: fixed;
    // top: 0px;
    // left: 0px;
    max-width: 100%;
    &__join-wrapper {
      display: flex;
      flex-direction: column;
      width: 280px;
      &__img {
        border: 5px solid #fff;
        border-radius: 15px;
        overflow: hidden;
        line-height: 0;
      }
      &__code-source {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 13px;
      }
    }
  }
}
