@import "../../Mixins.scss";

.gif-slider {
  position: relative;
  top: 40px;
  margin-bottom: 500px;
  width: 100%;
  &__mobile-desktop {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  &__GIFS {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    @include abv820px {
      max-width: 300px;
      margin: 0 auto;
    }
    &__GIF {
      will-change: transform;
      border-radius: 15px;
      overflow: hidden;
      border: 5px solid #fbad5d;
      position: absolute;
      line-height: 0;
    }
  }
  &__prompt {
    font-size: 10px;
    width: 100%;
    text-align: center;
  }
}
