.gif-slider {
  position: relative;
  top: 40px;
  margin-bottom: 500px;
  &__mobile-desktop {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  &__GIFS {
    width: 210px;
    height: 400px;
    overflow: hidden;
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    &__GIF {
      will-change: transform;
      border-radius: 15px;
      overflow: hidden;
      border: 5px solid #fff;
      margin: 0 auto;
      position: absolute;
    }
  }
  &__prompt {
    font-size: 10px;
    width: 100%;
    text-align: center;
  }
}
