@import "../Mixins.scss";
.side-menu {
  list-style: none;
  color: #49515a;
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
  overflow-y: auto;
  margin-left: 20px;
  margin-top: 20px;
  transition: all 0.3s ease-in;
  flex-direction: column;
  margin-top: 50px;
  position: fixed;
  &__mobile-list {
    transition: all 0.15s ease-in;
    padding-left: 10px;
    padding-top: 6px;
    position: fixed;
    &--revealed {
      background-color: #32383e;
      width: 90vw;
      transition: all 2s ease-in;
      border-radius: 15px;
    }
  }
  &__burger-wrapper {
    position: fixed;
    height: 25px;
    width: 30px;
    right: 20px;
    top: 15px;
    border-radius: 4px;
    overflow: hidden;
    z-index: 2;
  }
  &__burger-wrapper:hover {
    cursor: pointer;
  }
  &__burger {
    height: 1px;
    position: fixed;
    // background: #94998d;
    z-index: 1;
    right: 20px;
    top: 27px;
    cursor: pointer;
    transition: all 0.5s ease-in;
    visibility: visible;
    &:before {
      content: "";
      position: absolute;
      height: 1px;
      width: inherit;
      right: 0;
      left: 0;
      background: inherit;
      top: 11px;
      transition: all 0.5s ease-in;
    }
    &:after {
      content: "";
      position: absolute;
      height: 1px;
      width: inherit;
      left: 0;
      right: 0;
      background: inherit;
      bottom: 11px;
      transition: all 0.3s ease-in;
    }
    &--clicked {
      transition: all 0.3s ease-in;
      height: 0;
      &:before {
        left: 4px;
        transform-origin: 0 50%;
        transform: rotateZ(-0.78539816rad);
        width: 33.4263px;
        transition: all 0.3s ease-in;
      }
      &:after {
        left: 4px;
        transform-origin: 0 50%;
        transform: rotateZ(0.78539816rad);
        width: 33.4263px;
        transition: all 0.3s ease-in;
      }
    }

    @include abv820px {
      visibility: hidden;
    }
  }
  &__item:hover {
    cursor: pointer;
  }
  &__item {
    padding-right: 40px;
    font-size: 25px;
    margin-bottom: 20px;
    overflow: hidden;
    width: 0;
    visibility: hidden;
    transition: all 0.2s ease-in;
    &__text {
      visibility: hidden;
      width: 0;
    }
  }
  .side-menu__mobile-list--revealed &__item {
    visibility: visible;
    width: 100%;
    transition: all 0.6s ease-in;
    &__text {
      visibility: visible;
      width: 100%;
    }
  }
  @include abv820px {
    position: absolute;
    right: 0;
    top: 40px;
    height: 200px;
    margin-right: 20px;
    margin-top: 0;
  }
}
