@import "./Components/Mixins.scss";

@font-face {
  font-family: "Montserrat-Regular";
  src: local("Montserrat-Regular"), url("./assets/fonts/Montserrat-Regular.woff2") format("woff2"),
    url("./assets/fonts/Montserrat-Regular.woff") format("woff");
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  a {
    text-decoration: none;
    color: unset;
  }
  a:hover {
    cursor: pointer;
  }
  max-width: 100vw;
  font-family: "Montserrat-Regular";
  color: #fff;
  max-width: 100%;
  @include abv820px {
    margin: 0 auto;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  &__title-wrapper {
    transition: all 0.3s ease-in;
  }
  &__tab-title {
    position: absolute;
    top: 15px;
    width: 100vw;
    text-align: center;
  }
  &__main-container {
    padding-top: 60px;
    transition: all 0.2s ease-in;
    visibility: visible;
    position: relative;
    z-index: 0;
    overflow-x: hidden;
    @include abv820px {
      margin-left: 20px;
      width: 90%;
      max-width: 800px;
      margin-top: 0;
      overflow-x: unset;
      // padding-top: 60px;
    }
    &--fading-out {
      transform: scale(0.85);
      visibility: hidden;
      opacity: 0;
      transition: all 0.3s ease-in;
    }
  }
}
